body, html {
    height: 100%;
  }
  
body {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    width: 100vw;
    font-size: 1.5em;
    background: #eee;
  }

  .main-container {
    margin: auto;
    display: flex;
    height: 50%;
  }
  
.main-container > div {
    margin: auto 30px;
  }

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 3em;
    height: 3em;
    border-radius: 30px;
    background: #8bcdcd;
    transition: all 500ms ease;
    clip-path: circle(50% at 50% 50%);
    color: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: default;
  }

.card:hover a , .card a{
  color: rgba(252, 248, 118, 1); 
}

#info {
  top: 20px;
  left: 20px;
}

#info:hover {
  width: 250px;
  height: 300px;
}
 
.card span {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.8em;
    transform: translate(-50%, -50%);
    color: rgba(252, 248, 118, 1); 
    cursor: default;
  }
  
.card:hover {
    clip-path: circle(80%);
    background: #3797a4;
    color: rgba(252, 248, 118, 1); 
  }
  
.card:hover p {
    color: rgba(168, 242, 251, 1);
  }
  
.card:hover span, .card:hover span a {
    color: rgba(0, 0, 0, 0);  
  }
  

.card h1 {
    text-align: center;
    line-height: 1.3em;
    font-size: 2em;
  }
  
.card p {
    line-height: 1.5em;
    font-size: 1.1em;
    color: rgba(168, 242, 251, 0);
    margin: 1.3em;
    transition: all 500ms ease;
  }
  
.divisor {
    width: 5px;
    height: 100%;
    background: #c1c1c1;
  }
  
.user_list form {
    display: flex;
    flex-direction: column;
  }

.user_list input {
  margin-bottom: 20px;
}

.animation-element {
      position: relative;
      height: 100%;
      width: 200px;
      transform: translate(0, -0.5em);
      font-size: 1.2em;
  }

.name {
      transform-origin: 50% -50%;
      position: absolute;
      margin: 0;
  }

.users li {
  list-style: none;
  margin: 20px 0px;
}

.checkbox p {
  font-size: 0.8em;
  color: rgb(112, 112, 112);
}

#names-subform {
  margin-top: 2em;
}

.name-form-group {
  display: flex;
}

.name-form-group .remove {
  margin-left: 10px;
}


@media screen and (max-width: 768px) {
  .name-form-group .name-field {
    width: 100%;
  }

  .main-container > div {
    margin: auto 10px;
  }
}