body, html {
    height: 100%;
  }
  
body {
    margin: 0;
    display: flex;
    height: 100%;
    font-size: 1.5em;
  }
  
.main-container {
    margin: auto;
    display: flex;
    height: 40%;
  }
  
.main-container > div {
    margin: auto 20px;
  }
  
.divisor {
    width: 5px;
    height: 100%;
    background: #c1c1c1;
  }
  
.user_list form {
    display: flex;
    flex-direction: column;
  }

.animation-element {
      position: relative;
      height: 100%;
      width: 50px;
  }

.name {
      transform-origin: 50% -50%;
      position: absolute;
      margin: 0;
      
  }