{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    body {
        overflow: scroll;
    }

    .inner-group {
        margin: 10px 5%;
    }

    .form-row {
        display: flex;
        margin-left: 5%;
    }

    #submit {
        margin-left: auto;
    }
</style>
{% endblock %}


{% block page_content %}

<h1>Create new group.</h1>

<form action="" method="post" class="form" role="form" autocomplete="off">
    {{ form.hidden_tag() }}

    <div class="form-group required">
        {{ form.group_name.label(class="control-label") }}
        {{ form.group_name(class="form-control") }}
    </div>

    <div class="checkbox">
        <label for="secure">
            <input type="checkbox" name="secure" id="secure" value="y">
            Secure
        </label>
        <p class="quiet">If you select "secure" checkbox, the server will generate pin for each user.
            You then have to send each user their pin, so they can enter application.
            This provides additional security, because it's harder to peek other user's
            roll result.
        </p>
    </div>

    <div class="form-group inner-group" id="names-subform">
        {{ form.names.label(class="control-label") }}
        <p class="quiet">Names can only contain letters and spaces.</p>

        {% for name in form.names %}
        <div class="form-group" id="name-field-{{loop.index0}}">
            <label for="names-{{loop.index0}}-name"></label>
            <div class="name-form-group">
                <input id="names-{{loop.index0}}-name" class="name-field" name="names-{{loop.index0}}-name" type="text"
                    value="">
                <input type="button" class="btn btn-danger remove" name="remove" value="-"
                    onclick="this.parentElement.parentElement.remove()">
            </div>


        </div>
        {% endfor %}
    </div>

    <div class="form-row">
        <input type="button" class="btn btn-default add" id="add" name="add" value="+" onclick="copyNameNode()">
        <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Create">
    </div>

</form>

<script src="static/add_name.js"></script>

{% endblock %}