{% extends "base.html" %} {% block page_content %}

<h1>Group {{ group.name }}</h1>

<ul class="users">
  {% for user in group.users %}
  <li class="user">
    <p class="user-name">
      {{ user.name }} <strong>{{ user.pin }}</strong>
      <a
        id="{{user.name}}"
        href="{{ url_for('.index_get', group_name=group.name) }}?name={{user.name}}&pin={{user.pin}}"
        >link</a
      >

      <strong onclick="copy(`{{ user.name }}`)">copy</strong>
    </p>
  </li>
  {% endfor %}
</ul>

<a href="{{ url_for('.index_get', group_name=group.name) }}"
  >Go to group page</a
>

<script>
  function copy(id) {
    const el = document.getElementById(id);

    const text = el.href;

    navigator.clipboard.writeText(text)
  }
</script>

{% endblock %}
