<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa2020</title>

    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="card" id="info">
        <span>i</span>
        <h1>What's going on?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas hic commodi quam veniam esse quibusdam magnam nisi neque optio est.</p>
      </div>


    <div class="main-container">

        <div class="user_list">
            {% if not session["user"] %}
            <form action="" method="post">
                <label for="name">Jak masz na imie?</label>                
                <input id="name" name="name" class="name-field" type="text" value="" autocomplete="off">
                {% if group.secure %}
                <label for="pin">PIN:</label>                
                <input id="pin" name="pin" class="name-field" type="text" value="" autocomplete="off">
                {% endif %}

                <button type="" onclick="">Wyślij</button>
            </form>

            {% else %}

            <button onclick="draw()">Losuj</button>
            
            {% endif %}

        </div>
       
       <div class="divisor"></div>
       
       <div class="animation-element" id="anim">

        {% if session["user"] %}

        {% for user in group.users %}
            <p class="name">{{ user.name }}</p>
        {% endfor %}

        {% endif %}

       </div>
       
     </div>

    <script src="static/main.js"></script>
</body>
</html>