<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa2020</title>

    <link rel="stylesheet" href="static/style.css">
</head>
<body>


    <div class="main-container">

        <div class="user_list">
            <button type="" onclick="draw()">Losuj</button>
        </div>
       
       <div class="divisor"></div>
       
       <div class="animation-element" id="anim">
        <p class="name">Rafal</p>
        <p class="name">Janek</p>
        <p class="name">Asia</p>
        <p class="name">Daria</p>
        <p class="name">Karolina</p>
        <p class="name">Michalina</p>
        <p class="name">Kuba</p>
        <p class="name">Ivan</p>
        <p class="name">Daniel</p>
        <p class="name">Robert</p>

       </div>
       
     </div>


    <script src="static/main.js"></script>
</body>
</html>